#Sign_up {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #main-Signup {
        position: relative;
        top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #box-Signup {
            width: 400px;
            height: 570px;
            background-color: #ffffff;
            border: 1px solid #4240406a;
            margin: 0 0 14px 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;

            &>img {
                margin-top: 2.1em;
            }

            #title {
                width: 65%;
                font-weight: 600;
                color: #8e8e8e;
                user-select: none;
                margin-top: 0.8em;
                text-align-last: center;
            }

            input:first-of-type {
                margin-top: 0.7em;
                width: 300px;
                height: 36px;
                outline: none;
                border-radius: 5px;
                text-indent: 5px;
                border: 1px solid #3a3c3c39;
                background-color: #FAFAFA;

            }

            input {
                margin-top: 0.5em;
                width: 300px;
                height: 36px;
                outline: none;
                border-radius: 5px;
                text-indent: 5px;
                border: 1px solid #3a3c3c39;
                background-color: #FAFAFA;

                &:not(:nth-child(4)),
                &:nth-child(6) {
                    text-transform: lowercase;
                }

                &:focus {
                    border: 1px solid #3a3c3c;
                }

                &::placeholder {
                    font-size: 0.9rem;
                }
            }

            #show_Hide_Password {
                position: absolute;
                top: 18.4em;
                right: 3.60em;
                cursor: pointer;
                user-select: none;
            }

            #about {
                width: 80%;
                font-weight: 400;
                font-size: 0.9em;
                color: #8e8e8e;
                user-select: none;
                margin-top: 1.4em;
                text-align-last: center;
            }

            #btnSignup {
                width: 300px;
                height: 34px;
                border: none;
                outline: none;
                border-radius: 5px;
                margin-top: 1em;
                background-color: #0095F6;
                color: #ffffff;

                &:active {
                    background-color: #0094f6c8;
                }

                &:disabled {
                    background-color: #0094f682;
                }
            }
        }

        #box-GotoLogin {
            width: 400px;
            height: 78px;
            background-color: #ffffff;
            border: 1px solid #4240406a;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            user-select: none;
            overflow: hidden;
            margin-bottom: 1.2em;

            span {
                cursor: pointer;
                font-weight: bold;
                color: #0095f6;

                &:active {
                    color: #0094f6b6;
                }
            }
        }

        #box-DownloadApp {
            width: 400px;
            height: 83px;
            background-color: transparent;
            border: none;
            outline: none;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;
            overflow: hidden;
            margin: 0 0 25px 0;
            position: relative;
            top: 15px;


            div {
                display: flex;
                flex-direction: row;
                margin-top: 16px;

                img {
                    cursor: pointer;
                }
            }
        }
    }
}