#Change_password {
    width: 99vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;


    .boxChangePass {
        width: 535px;
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            width: 17vh;
            font-size: 1rem;
            font-weight: 600;
            color: #ffffff;
            user-select: none;
            cursor: default;
            display: flex;
            flex-wrap: wrap;
            color: #3d4248;
            margin-right: 5em;
            text-align-last: right;
            margin-right: 3em;

            &:last-child {
                text-align: right;
            }
        }

        input {
            width: 535px;
            min-height: 38px;
            border-radius: 6px;
            border: 1px solid #b9b9b9;
            outline: unset;
            background-color: #fafafa;
            transform: translate(1.2em, 0);
            text-indent: 7px;

            &:focus {
                border: 1px solid #8b8b8b;
            }

            &:disabled {
                border: 1px solid #dddddd;
            }
        }
    }


    #sumbit {
        width: 150px;
        height: 35px;
        border: none;
        outline: none;
        border-radius: 5px;
        margin: 1.7em 1.8em 0 0;
        background-color: #0095F6;
        color: #ffffff;

        &:active {
            background-color: #0094f6c8;
        }

        &:disabled {
            background-color: #0094f682;
        }
    }
}